.Fotter{
    display: flex;
   justify-content: space-between;
    margin: auto;
    margin-top: 15px;
    width: 1110px;
    height: 150px;
    background-color: #f0f0f0;
    box-shadow: 5px 5px 50px dimgrey;
    margin-bottom: 30px;
}
.lam img{
    padding-top: 15px;
    padding-left: 30px;
}
.center{
    padding-top: 30px;
    padding-right: 30px;
}
.footer .lam{
    padding-top: 16px;
    padding-left: 41px;
}

.footer .center{
    text-decoration: none;
}

footer .center .tel{
    padding-top: 40px;
    padding-right: 41px;
    color: #a2a2a2;
    text-decoration: none;
    padding-top: 9px;
}

.center a{
    color: black;
}